.info-book {
  word-wrap: break-word;
  text-align: center
}
.img-full {
  width: 100%;
  height: 300px;
}
input[type=text] {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px; 
}
input[type=text]:focus {
  border: 3px solid rgb(189, 189, 189);
}
.book-mt10 {
  margin-top: 10px;
  font-size: 17px;
}
.welcome-message {
  color: green;
  font-size: 14px;

}